<header class="header">
  <div class="search-text">
    <a href=""> <img src="../assets/Logo_ML.png" alt="MercadoLibre Logo" /></a>
    <div class="input">
      <input
        type="text"
        placeholder="Nunca dejes de buscar"
        [(ngModel)]="query"
        (keydown.enter)="ProductsSearch()"
      />
    </div>
    <div class="product-search">
      <button (click)="ProductsSearch()">
        <img src="../assets/ic_Search.png" alt="MercadoLibre Buscar" />
      </button>
    </div>
  </div>
</header>
<router-outlet></router-outlet>
