$phone-width: 640px

section
  width: 100%
  display: flex
  justify-content: center
  align-items: center

.detail-product
  width: 80%
  display: flex
  flex-direction: column
  // background-color: white
  justify-content: center
  padding: 6px
  margin-top: 16px
  ul
    width: 75%
    align-self: center
    @media (max-width: $phone-width)
      width: 100%
  @media (max-width: $phone-width)
    padding: 0
    width: 100%

  .img-product
    display: flex
    justify-content: space-around
    img
      margin-top: 8px
    .product-name-price
      align-self: flex-start
      width: 30%
      .product-sold-quantity
        font-size: 14px
        padding-top: 2rem
        margin-bottom: 1rem
      .product-name
        margin: 0
        padding-bottom: 2rem
        font-size: 1.5rem
      .product-price
        margin: 0
        padding-bottom: 2rem
        font-size: 2.88rem
      button
        background-color: #3483FA
        width: 200px
        border: 1px solid transparent
        border-radius: 4px
        height: 35px
        color: white
        cursor: pointer
      @media (max-width: $phone-width)
        .product-name-price
          width: 100%
        .product-sold-quantity, .product-name, .product-price
          padding-left: 1rem
        button
          margin-left: 1rem
    @media (max-width: $phone-width)
      flex-direction: column
      img
        width: 100%
        margin: 0
      .product-name-price
        width: 100%

.container-detail-product
  width: 75%
  align-self: center
  background-color: white
  @media (max-width: $phone-width)
    width: 100%
    align-self: flex-start

.product-description
  width: 60%
  word-wrap: break-word
  padding: 0 0 2rem 2rem
  @media (max-width: $phone-width)
    width: 100%
    padding: 0
  h2
    padding-left: 1rem
  p
    padding: 1rem 1rem 1rem 1rem
ul
  padding: 0
