<section>
  <div class="detail-product">
    <ul>
      <li>electrodomestico</li>
    </ul>
    <div class="container-detail-product">
      <div class="img-product">
        <img src="{{ imgProduct }}" alt="" />
        <div>
          <p class="product-name">{{ title }}</p>
          <p class="product-price">$ {{ price }}</p>
          <button>Comprar</button>
        </div>
      </div>
      <div class="description-product">
        <h2>Descripción del producto</h2>
        <p>
          hola la descriaisisud oiasdhlaskjdh oiyhasdoiasdhaopsd
          olashdalkjsdhaoid olaskhidoaiksdujpaisd lalkjskhdlkasdh liuashjdoiahds
          oiausdokahd kishdaiksdh
        </p>
      </div>
    </div>
  </div>
</section>
