<section>
  <div class="detail-product">
    <ul>
      <li>electrodomestico</li>
    </ul>
    <div class="container-detail-product">
      <div class="img-product">
        <img src="{{ imgProduct }}" alt="" />
        <div class="product-name-price">
          <p *ngIf="soldQuantity > 0" class="product-sold-quantity">
            {{ state }} - {{ soldQuantity }} {{ soldState }}
          </p>
          <p *ngIf="soldQuantity == 0" class="product-sold-quantity">
            {{ state }}
          </p>
          <h1 class="product-name">{{ title }}</h1>
          <p class="product-price">$ {{ price }}</p>
          <button>Comprar</button>
        </div>
      </div>
      <div class="product-description">
        <h2>Descripción del producto</h2>
        <p *ngIf="!!descriptionProduct" [innerHTML]="descriptionProduct"></p>
      </div>
    </div>
  </div>
</section>
