<section>
  <div class="detail-product">
    <p>electronica</p>
    <div class="img-product">
      <img src="{{ imgProduct }}" alt="" />
      <div>
        <p>{{ title }}</p>
        <p>$ {{ price }}</p>
        <button>Comprar</button>
      </div>
    </div>
    <div class="description-product">
      <h2>Descripción del producto</h2>
      <p>
        hola la descriaisisud oiasdhlaskjdh oiyhasdoiasdhaopsd olashdalkjsdhaoid
        olaskhidoaiksdujpaisd lalkjskhdlkasdh liuashjdoiahds oiausdokahd
        kishdaiksdh
      </p>
    </div>
  </div>
</section>
