$color-container: white
$margin-container: 0
$border: 4px 4px 0 0
$displai: flex
$align-items: center
$pointer: pointer
$phone-width: 640px
$tablet-width: 768px
$desktop-width: 1024px

.products-container
  margin: $margin-container

p
  margin: $margin-container

ul li .search-products
  display: $displai
  align-items: $align-items
  justify-content: space-between
  gap: 1rem //kun
  @media (max-width: $phone-width)
    flex-direction: column
    align-items: center

.Products
  background-color: $color-container
  border-radius: $border
  padding: 20px
  border-bottom: thin solid #eee

.container
  display: $displai
  align-items: $align-items
  flex-direction: column

.product-list
  display: $displai
  flex: 10 //kun
  align-items: center
  @media (max-width: $phone-width)
    flex-direction: column

.ul-list
  width: 60% //andres
  // min-width: 600px //kun
  padding: 20px
  @media (max-width: $phone-width)
    width: 100%
    padding: 0

li .state-name
  font-size: 12px
  text-align: end

li .price-list-prodruct
  padding-bottom: 32px
  font-size: 24px
  cursor: $pointer

li .product-title
  font-size: 18px
  cursor: $pointer

li .product-img
  margin: 16px
  align-self: center
  justify-self: center
  cursor: $pointer
  img
    width: 180px
    height: 180px
  @media (max-width: $phone-width)
    align-self: center

.products-price
  display: inline
  padding-right: 5px

.address-state
  //flex: 3 //kun
  align-self: center
  justify-self: flex-end
  @media (max-width: $phone-width)
    align-self: center

// .breadcrumb-container
//   display: flex
//   align-items: center
//   flex-direction: column

.breadcrumb li
  display: inline
ul.breadcrumb li+li:before
  padding: 8px
  color: #999999
  content: ">\00a0"
ul.breadcrumb li a
  color: #999999
  text-decoration: none
