<section class="products-container">
  <div class="container">
    <ul class="list-ul">
      <li>Celulares y Smartphones</li>

      <li class="Products" *ngFor="let products of ProductsList | slice: 0:4">
        <div class="search-products">
          <div class="product-list">
            <div class="product-img">
              <img
                class="product-list__table-item-image"
                src="{{ products.thumbnail }}"
                alt="Country flag"
                (click)="DetailProducts(products)"
              />
            </div>

            <div>
              <div class="price-list-prodruct">
                <p class="products-price" (click)="DetailProducts(products)">
                  $ {{ products.price }}
                </p>
                <img src=".././../assets/ic_shipping.png" alt="" />
              </div>
              <div class="product-title">
                <p>{{ products.title }}</p>
              </div>
            </div>
          </div>
          <div class="address-state">
            <p class="state-name" (click)="DetailProducts(products)">
              {{ products.address.state_name }}
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
