<section class="products-container">
  <div class="container">
    <!-- <div class="ul-div"> -->
    <div class="breadcrumb-container">
      <ul class="breadcrumb">
        <li *ngFor="let productsFilter of filter">
          <a href="http://">{{ productsFilter.name }}</a>
        </li>
      </ul>
    </div>
    <ul class="ul-list">
      <li class="Products" *ngFor="let products of ProductsList | slice: 0:4">
        <div class="search-products">
          <div class="product-list">
            <div class="product-img">
              <img
                class="product-list__table-item-image"
                src="{{ products.thumbnail }}"
                alt="Product img"
                (click)="DetailProducts(products)"
              />
            </div>

            <div>
              <div class="price-list-prodruct">
                <p class="products-price" (click)="DetailProducts(products)">
                  $ {{ products.price }}
                </p>
                <img src=".././../assets/ic_shipping.png" alt="" />
              </div>
              <div class="product-title">
                <p (click)="DetailProducts(products)">{{ products.title }}</p>
              </div>
            </div>
          </div>
          <div *ngIf="!!products.address" class="address-state">
            <p class="state-name">
              {{ products.address.state_name }}
            </p>
          </div>
        </div>
      </li>
    </ul>
    <!-- </div> -->
  </div>
</section>
